@model IEnumerable<SWSPapp.Models.StatisticBasicModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<hr />


<link href="@Url.Content("~/Scripts/gridmvc.min.js")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />

<div class="container">
    @Html.Grid(Model).Columns(col =>
        {
            col.Add(c => c.IdPlayer).Titled("Id").Filterable(false);
            col.Add(c => c.PlayerName).Titled("Name").Filterable(true);
            col.Add(c => c.Passing).Titled("Passing").Filterable(true);
            col.Add(c => c.Attack).Titled("Attack").Filterable(true);
            col.Add(c => c.Dribble).Titled("Dribble").Filterable(true);
            col.Add(c => c.Deffence).Titled("Deffence").Filterable(true);
            col.Add(c => c.Speed).Titled("Spped").Filterable(true);
            col.Add(c => c.Strength).Titled("Strength").Filterable(true);
            col.Add().Titled("Favorite").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(x => Html.Raw(string.Format("<button type=\"button\" class=\"btn-link glyphicon glyphicon-heart-empty addFav\"")));
//col.Add().Titled("Favorite").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(x => Html.Raw(string.Format("<button type=\"button\" class=\"btn-link glyphicon glyphicon-heart remFav\"")));
//col.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(x => Html.ActionLink("Edit", "Edit", new { id = x.IdPlayer }));

})
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".addFav").click(function () {
                var selector = this;
                var idCell = selector.parentElement.parentElement.childNodes[1].innerText;

                if (selector.classList[3] === "remFav") {

                    $(".remFav").click(function () {
                        var selector = this;
                        var idCell = selector.parentElement.parentElement.childNodes[1].innerText;

                        $.ajax({
                            url: '@Url.Action("RemoveFavorite", "Home")',
                            type: "POST",
                            async: false,
                            data: { idPlayer: idCell },
                            success: function (response) {

                                selector.classList.remove("glyphicon-heart");
                                selector.classList.remove("remFav");
                                selector.classList.add("glyphicon-heart-empty");
                                selector.classList.add("addFav");
                                //selector.attributes("class", "btn-link glyphicon glyphicon-heart remFav");
                                //$(".addFav").removeClass("btn-link glyphicon glyphicon-heart-empty addFav");
                                //$(".addFav").addClass("btn-link glyphicon glyphicon-heart remFav");
                                //$(".addFav").addClass("remFav");
                                //btn - link glyphicon glyphicon- heart remFav
                                //location.reload();
                            }
                        });


                    });
                }
                else {

                    $.ajax({
                        url: '@Url.Action("AddFavorite", "Home")',
                        type: "POST",
                        async: false,
                        data: { idPlayer: idCell },
                        success: function (response) {

                            //var element = document.getElementById(selector.id);
                            selector.classList.remove("glyphicon-heart-empty");
                            selector.classList.remove("addFav");
                            selector.classList.add("glyphicon-heart");
                            selector.classList.add("remFav");
                            //selector.attributes("class", "btn-link glyphicon glyphicon-heart remFav");
                            //$(".addFav").removeClass("btn-link glyphicon glyphicon-heart-empty addFav");
                            //$(".addFav").addClass("btn-link glyphicon glyphicon-heart remFav");
                            //$(".addFav").addClass("remFav");
                            //btn - link glyphicon glyphicon- heart remFav
                            //location.reload();
                        }
                    });
                }
            });

            $(".remFav").click(function () {
                var selector = this;
                var idCell = selector.parentElement.parentElement.childNodes[1].innerText;

                $.ajax({
                    url: '@Url.Action("RemoveFavorite", "Home")',
                    type: "POST",
                    async: false,
                    data: { idPlayer: idCell },
                    success: function (response) {

                        //var element = document.getElementById(selector.id);
                        selector.classList.remove("glyphicon-heart");
                        selector.classList.remove("remFav");
                        selector.classList.add("glyphicon-heart-empty");
                        selector.classList.add("addFav");
                        //selector.attributes("class", "btn-link glyphicon glyphicon-heart remFav");
                        //$(".addFav").removeClass("btn-link glyphicon glyphicon-heart-empty addFav");
                        //$(".addFav").addClass("btn-link glyphicon glyphicon-heart remFav");
                        //$(".addFav").addClass("remFav");
                        //btn - link glyphicon glyphicon- heart remFav
                        //location.reload();
                    }
                });

            });

        });
    </script>

}