@model IEnumerable<SWSPapp.Models.StatisticBasicModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<hr />

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" rel="stylesheet"></script>

<div class="container">
    @Html.Grid(Model).Columns(col =>
    {
        col.Add(c => c.IdPlayer).Titled("Id").Filterable(false);
        col.Add(c => c.Name).Titled("Name").Filterable(true);
        col.Add(c => c.Passing).Titled("Passing").Filterable(true);
        col.Add(c => c.Attack).Titled("Attack").Filterable(true);
        col.Add(c => c.Dribble).Titled("Dribble").Filterable(true);
        col.Add(c => c.Deffence).Titled("Deffence").Filterable(true);
        col.Add(c => c.Speed).Titled("Spped").Filterable(true);
        col.Add(c => c.Strength).Titled("Strength").Filterable(true);

        col.Add().Titled("Favorite").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs
            (x => x.IsFavorite == 0 ? Html.Raw(string.Format("<button type=\"button\" class=\"btn-link glyphicon glyphicon-heart-empty addFav\"")) : Html.Raw(string.Format("<button type=\"button\" class=\"btn-link glyphicon glyphicon-heart remFav\"")));

    })
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

                $(".remFav").click(function () {
                        var selector = this;
                        var idCell = selector.parentElement.parentElement.childNodes[1].innerText;
                        var $this = $(this);
                        if ($this.hasClass("addFav")) {

                        $.ajax({
                            url: '@Url.Action("AddFavorite", "Home")',
                            type: "POST",
                            async: false,
                            data: { idPlayer: idCell },
                            success: function (response) {

                                $this.removeClass("glyphicon-heart-empty addFav");
                                $this.addClass("glyphicon-heart remFav");

                            }
                        });
                    }
                    else {
                            $.ajax({
                            url: '@Url.Action("RemoveFavorite", "Home")',
                            type: "POST",
                            async: false,
                            data: { idPlayer: idCell },
                            success: function (response) {

                                $this.removeClass("glyphicon-heart remFav");
                                $this.addClass("glyphicon-heart-empty addFav");

                            }
                        });
                    }
                    });


                 $(".addFav").click(function () {
                    var selector = this;
                    var idCell = selector.parentElement.parentElement.childNodes[1].innerText;
                    var $this = $(this);

                    if ($this.hasClass("addFav")) {

                        $.ajax({
                            url: '@Url.Action("AddFavorite", "Home")',
                            type: "POST",
                            async: false,
                            data: { idPlayer: idCell },
                            success: function (response) {

                                $this.removeClass("glyphicon-heart-empty addFav");
                                $this.addClass("glyphicon-heart remFav");

                            }
                        });
                    }
                    else {
                            $.ajax({
                            url: '@Url.Action("RemoveFavorite", "Home")',
                            type: "POST",
                            async: false,
                            data: { idPlayer: idCell },
                            success: function (response) {

                                $this.removeClass("glyphicon-heart remFav");
                                $this.addClass("glyphicon-heart-empty addFav");

                            }
                        });
                    }
                });
        });
    </script>
}